<h3 class="ui header">{{t 'forms.i-i-s-weather-forecast-area-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.id
    class=(if model.errors.id 'error' '')
    label=(t 'forms.i-i-s-weather-forecast-area-e.id-caption')
  }}
  {{flexberry-validationmessage error=model.errors.id pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.i-i-s-weather-forecast-area-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-weather-forecast-area-e.isArchive-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.isArchive
  }}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-weather-forecast-area-e.region-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.region
    displayAttributeName='name'
    autocomplete=true
    relationName='region'
    projection='RegionL'
    title=(t 'forms.i-i-s-weather-forecast-area-e.region-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.region pointing="pointing"}}
</div>

</form>
